.boton {
    padding: 0.6em 2em;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Permanent Marker', cursive;
}

.boton:hover {
    background: #5f84f2;
}

.detalle {
    text-decoration: none;
    color: blanchedalmond;
}

.show{
    display: block;
    color: rgb(252, 252, 252);
}
.hide{
    display: none;
}

.more{
    color: #AB20FD;
    margin-top: 5px;
}

.more:hover{
    text-decoration: underline;
    cursor: pointer;
}
