  /************************* Footer *********************************/

  .footer {
    display: flex;
    justify-content: space-between;
    background: #5b5959;
    padding: 20px 10px;
    margin-top: 30px;
}

.footer h2 {
    align-self: center;
    color: black;
}

.conocenos a {
    color: #d4d1d1;
    text-decoration: none;
    margin-right: 30px;
}

.conocenos a:hover {
    color: #fff;
}

.conocenos {
    text-align: center;
    align-self: center;
    margin-left: 60px;
}

.conocenos h2 {
    margin: 10px;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.tmdb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.imgTmdb {
    width: 200px;
    margin: 15px;
}

.mapa {
    width: auto;
    height: auto;
}